.bg-style {
  font-family: Arial, sans-serif;
  background-image: url("/assets/img/jobs.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  padding: 20px; /* Padding para dar espaço nas laterais em telas menores */
  box-sizing: border-box;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

.form-container {
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.margin-top-page {
  margin-top: 90px;
}

/* Media query para telas menores */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 15px; /* Reduzir padding do container em telas menores */
  }

  button {
    font-size: 14px;
  }
}
