<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhe Conosco</title>
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="custom-body">
    <div class="container mx-auto mt-4 custom-background">
        <div class="row">
            <div class="col-md-4">
                <div class="card custom-card">
                    <i class="fas fa-user-nurse fa-5x"></i>
                    <div class="card-body">
                        <h5 class="card-title">Assistente Social</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text">Horário para atendimento 08:00 as 18:00 hrs.</p>
                        <i class="fas fa-envelope"></i> Email: <a href="mailto:assistente.social&#64;albergue.com">assistente.social&#64;albergue.co</a><br>
                        <i class="fas fa-phone"></i> Telefone: (42)1234-5678
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card">
                    <i class="fas fa-user-md fa-5x"></i>
                    <div class="card-body">
                        <h5 class="card-title">Psicólogo</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text">O psicólogo está disponível das 08:00 as 18:00 hrs.</p>
                        <i class="fas fa-envelope"></i> Email: <a href="mailto:psicologo&#64;albergue.com">psicologo&#64;albergue.com</a><br>
                        <i class="fas fa-phone"></i> Telefone: (42) 1234-5678
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card">
                    <i class="fas fa-user-friends fa-5x"></i>
                    <div class="card-body">
                        <h5 class="card-title">Cuidadores</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text">Os cuidadores estão disponíveis 24 hrs.</p>
                        <i class="fas fa-envelope"></i> Email: <a href="mailto:cuidadores&#64;albergue.com">cuidadores&#64;albergue.com</a><br>
                        <i class="fas fa-phone"></i> Telefone:(42)1234-5678
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
