
<body class="custom-body">
    <div class="container mx-auto mt-4 custom-background">
        <div class="row">
            <div class="col-md-4">
                <div class="card custom-card" style="width: 18rem;">
                    <i class="fas fa-user-nurse fa-5x text-center"></i>
                    <div class="card-body">
                        <h5 class="card-title">Assistente Social</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text">Horário para atendimento 08:00 as 18:00 hrs.</p>
                      <i class="fas fa-envelope"></i> Email: albergue gmail.com<br>
                      <i class="fas fa-phone"></i> Telefone: (42)1234-5678
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card" style="width: 18rem;">
                    <i class="fas fa-user-md fa-5x text-center"></i>
                    <div class="card-body">
                        <h5 class="card-title">Psicólogo</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text">O psicólogo está disponível das 08:00 as 18:00 hrs.</p>
                       <i class="fas fa-envelope"></i> Email: psicologo gmail.com<br>
                       <i class="fas fa-phone"></i> Telefone: (42) 1234-5678
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card" style="width: 18rem;">
                    <i class="fas fa-user-friends fa-5x text-center"></i>
                    <div class="card-body">
                        <h5 class="card-title">Cuidadores</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text">Os cuidadores estão disponíveis 24 hrs.</p>
                        <i class="fas fa-envelope"></i> Email:cuidadores gmail.com<br>
                       <i class="fas fa-phone"></i> Telefone:(42)1234-5678
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>