<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Contato</h4>
        <p>Cidade: Guarapuava</p>
        <p>Bairro: Conradinho</p>
        <p>Endereço: Rua Jaime de Amaral De Pacheco</p>
        <p>Telefone: (42)98472-225</p>
      </div>
      
      <div class="col-md-4">
        <h4>Redes Sociais</h4>
        <ul class="list-unstyled social-icons-container">
          <li><a href="[Link da rede social]"><img class="social-icon" src="https://cdn-icons-png.freepik.com/256/5968/5968764.png" alt="Facebook"></a></li>
          <li><a href="[Link da rede social]"><img class="social-icon" src="https://cdn-icons-png.flaticon.com/256/1409/1409946.png" alt="Twitter"></a></li>
          <li><a href="[Link da rede social]"><img class="social-icon" src="https://cdn-icons-png.flaticon.com/256/3938/3938028.png" alt="Instagram"></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Localização</h4>
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 200px; border: 2px solid #ccc; border-radius: 25px; overflow: hidden;">
          <iframe src="https://www.google.com/maps/embed?pb=!4v1713014015862!6m8!1m7!1sK-PJ-0XXfDrGAmxZ-qL60Q!2m2!1d-25.3518724527388!2d-51.49613653941223!3f166.10205021502938!4f-21.488128928436993!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade
          " frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <p style="margin-top: 100px;">Direitos Reservados &copy; 2024 - Albergue City</p>
      </div>
    </div>
  </div>
</footer>
