.gallery {
  display: flex;
  flex-wrap: wrap;
}

.photo-item {
  margin: 10px;
}

.photo-item img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.photo-item img.selected {
  border: 3px solid blue; /* Estilo para fotos selecionadas */
}


.gallery {
  margin-top: 110px;
}

.style-font-employees {
  margin-top: 180px;
  text-align: center;
}

/* gallery.component.css */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  gap: 20px; 
}

.photo-item {
  /* Se precisar definir uma largura fixa para as imagens: */
  width: 250px;
}

.photo-item img {
  width: 50%;
  height: auto;
  object-fit: cover; 
  border: 2px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; 
}

.photo-item img:hover {
  transform: scale(1.05); 
}

.photo-item.selected img {
  border-color: blue; 
}

.checklist {
  text-align: center; 
  margin-top: 20px;
}
