
body {
    background-image: url('https://cdn.mensagenscomamor.com/content/images/m000446332.jpg?v=1&w=2288&h=1833'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 100px;
  }
  .oracao {
    text-align: center;
    margin-bottom: 30px;
  }
  .oracao img {
    width: 100%;
    height: auto;
    max-width: 300px; 
    max-height: 200px;
    border-radius: 10px;
    display: block;
    margin: 0 auto; 
  }
  .texto-biblico {
    background: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }