.flash-message {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f8d7da; /* Cor de fundo */
  color: white;
  font-weight: bold;
  padding: 15px; /* Espaçamento interno */
  border: 1px solid #f5c6cb; /* Cor da borda */
  border-radius: 5px; /* Arredondamento dos cantos */
  z-index: 1000; /* Z-index para sobrepor outros elementos */
  /* width: 250px; Largura da mensagem */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para um efeito flutuante */
  transition: opacity 0.5s ease-in-out; /* Transição suave para aparecer/desaparecer */
  opacity: 1; /* Opacidade inicial */
}

.flash-message.hide {
  opacity: 0; /* Opacidade 0 para ocultar */
}
