<div class="container" *ngIf="appointmentsList.length !== 0">
  <h1>Lista de agendamentos</h1>
</div>
<div class="container">
  <div class="m-100" *ngIf="appointmentsList.length === 0">
    <h1>Nenhum agendamento</h1>
  </div>
  <div
    class="card"
    style="width: 18rem"
    *ngFor="let appointment of appointmentsList"
  >
    <div class="card-body">
      <h5 class="card-title mb-3">
        Nome: {{ appointment.name }}
        {{ appointment.last_name }}
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <strong>Residência:</strong> {{ appointment.city }} -
        {{ appointment.state }}
      </h6>
      <h6 class="card-subtitle mb-2 text-muted">
        <strong>Telefone:</strong> {{ appointment.phone }}
      </h6>
      <h6 class="card-subtitle mb-2 text-muted">
        <strong>Chegada:</strong> {{ appointment.date | date : "dd/MM/Y" }} às
        {{ appointment.time }}
      </h6>
      <p class="card-text">Observações: {{ appointment.observation }}</p>
      <a
        *ngIf="appointment.status === 'pending'"
        href="/appointments-list"
        class="card-link"
        (click)="accept(appointment.id)"
        >Aceitar</a
      >
      <a
        *ngIf="appointment.status === 'pending'"
        href="/appointments-list"
        class="card-link"
        (click)="reject(appointment.id)"
        >Rejeitar</a
      >
      <span
        *ngIf="appointment.status === 'accepted'"
        style="margin-right: 20px"
        class="badge badge-success"
        >Aceito</span
      >
      <span
        *ngIf="appointment.status === 'rejected'"
        style="margin-right: 20px"
        class="badge badge-danger"
        >Rejeitado</span
      >
      <a
        href="/appointments-list"
        class="card-link"
        (click)="delete(appointment.id)"
        >Deletar</a
      >
    </div>
  </div>
</div>
