<div class="bg-appointments">
  <div class="container-fluid centralize">
    <form (ngSubmit)="register()">
      <div class="form-container" [formGroup]="registerForm">
        <app-flash-message></app-flash-message>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="name">Nome:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              placeholder="Digite seu nome"
            />
            <div
              *ngIf="registerForm.get('name')?.errors?.['required'] && registerForm.get('name')?.touched"
              class="text-danger"
            >
              Nome é obrigatório.
            </div>
          </div>

          <div class="col-md-6">
            <label for="last_name">Sobrenome:</label>
            <input
              type="text"
              class="form-control"
              id="last_name"
              formControlName="last_name"
              placeholder="Digite seu sobrenome"
            />
            <div
              *ngIf="registerForm.get('last_name')?.errors?.['required'] && registerForm.get('last_name')?.touched"
              class="text-danger"
            >
              Sobrenome é obrigatório.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="cpf">Cpf:</label>
            <button
              type="button"
              class="btn-link"
              data-toggle="modal"
              data-target="#infoCpf"
            >
              Leia mais
            </button>
            <input
              type="text"
              class="form-control"
              id="cpf"
              formControlName="cpf"
              placeholder="Digite seu Cpf"
            />
            <div
              *ngIf="registerForm.get('cpf')?.errors?.['required'] && registerForm.get('cpf')?.touched"
              class="text-danger"
            >
              Nome é obrigatório.
            </div>
          </div>
          <div class="col-md-6">
            <label for="mother_name">Nome da mãe:</label>
            <button
              type="button"
              class="btn-link"
              data-toggle="modal"
              data-target="#infoNomeMae"
            >
              Leia mais
            </button>
            <input
              type="text"
              class="form-control"
              id="mother_name"
              formControlName="mother_name"
              placeholder="Digite o nome de seu sua mãe"
            />
            <div
              *ngIf="registerForm.get('mother_name')?.errors?.['required'] && registerForm.get('mother_name')?.touched"
              class="text-danger"
            >
              Nome da mãe é obrigatório.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="data">Data de chegada:</label>
            <input
              type="date"
              class="form-control"
              id="data"
              formControlName="date"
            />
            <div
              *ngIf="registerForm.get('date')?.errors?.['required'] && registerForm.get('date')?.touched"
              class="text-danger"
            >
              Data de chegada é obrigatório.
            </div>
          </div>
          <div class="col-md-6">
            <label for="time">Hora de chegada:</label>
            <input
              type="time"
              class="form-control"
              id="time"
              formControlName="time"
            />
            <div
              *ngIf="registerForm.get('time')?.errors?.['required'] && registerForm.get('time')?.touched"
              class="text-danger"
            >
              Hora da chegada é obrigatório.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="state">Estado:</label>
            <select
              class="form-control"
              id="state"
              formControlName="state"
              (change)="onStateChange($event)"
            >
              <option *ngFor="let state of states" [value]="state.id">
                {{ state.sigla }}
              </option>
            </select>
            <div
              *ngIf="registerForm.get('state')?.errors?.['required'] && registerForm.get('state')?.touched"
              class="text-danger"
            >
              Estado é obrigatório.
            </div>
          </div>
          <div class="col-md-6">
            <label for="city">Cidade:</label>
            <select class="form-control" id="city" formControlName="city">
              <option *ngFor="let city of cities" [value]="city.id">
                {{ city.nome }}
              </option>
            </select>
            <div
              *ngIf="registerForm.get('city')?.errors?.['required'] && registerForm.get('city')?.touched"
              class="text-danger"
            >
              Cidade é obrigatório.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="phone">Telefone para contato</label>
            <input
              type="telefone"
              class="form-control"
              id="phone"
              formControlName="phone"
            />
            <div
              *ngIf="registerForm.get('phone')?.errors?.['required'] && registerForm.get('phone')?.touched"
              class="text-danger"
            >
              Telefone é obrigatório.
            </div>
          </div>
          <div class="col-md-6">
            <label for="observation">Motivo da hospedagem:</label>
            <textarea
              class="form-control"
              id="observation"
              formControlName="observation"
              rows="1"
              placeholder="Digite suas observações"
            ></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-custom">Cadastrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Modal CPF -->
  <div
    class="modal fade"
    id="infoCpf"
    tabindex="-1"
    role="dialog"
    aria-labelledby="infoCpfLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoCpfLabel">Informações sobre o CPF</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          O CPF é necessário para identificação no albergue. Ele será utilizado
          para garantir que a reserva é feita para você.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Nome da Mãe -->
  <div
    class="modal fade"
    id="infoNomeMae"
    tabindex="-1"
    role="dialog"
    aria-labelledby="infoNomeMaeLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoNomeMaeLabel">
            Informações sobre o Nome da Mãe
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          O nome da mãe é necessário para identificação no albergue. Ele será
          utilizado para garantir que a reserva é feita para você.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
